<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_adapter_with_allegro">
  <!-- Arguments -->
  <xacro:arg name="taxels" default="1"/>
  <xacro:arg name="sensor_collision" default="0"/>
  <xacro:arg name="tips" default="curved"/>
  <xacro:arg name="sequence" default="0"/>
  <xacro:arg name="defaultnames" default="1"/>
  <xacro:arg name="palm" default="1"/>
  <xacro:arg name="parent" default="world"/>


  <xacro:include filename="$(find xela_ah_r2c_bringup)/urdf/allegro_hand_left_r2c.xacro" />

  <xacro:if value="${xacro.arg('parent') == 'world'}">
   	<link name="world" />
  </xacro:if>

  <link name="ur_adapter">
    <visual>
      <origin xyz="-0.0093 0 0" rpy="0 0 -1.5708"/>
      <geometry>
        <mesh filename="package://xela_ah_r2c_bringup/mesh/ur_adapter.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="grey">
        <color rgba="0.7 0.7 0.7 1.0"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://xela_ah_r2c_bringup/mesh/ur_adapter.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>

  <joint name="parent_to_adapter" type="fixed">
    <parent link="$(arg parent)"/>
    <child link="ur_adapter"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <xacro:allegro_hand_left_r2c
    sequence="$(arg sequence)"
    tips="$(arg tips)"
    parent="ur_adapter"
    defaultnames="$(arg defaultnames)"
    palm="$(arg palm)"
    taxels="$(arg taxels)"
    sensor_collision="$(arg sensor_collision)"
    x="0.0" y="0.0" z="${0.095+0.0065}"
    rx="0.0" ry="0.0" rz="0.0"
     />

</robot>

    
